<footer>
    <section>
        <a href="https://wa.me/573002558222" target="_blank" rel="noreferrer">
            <img class="redes-sociales-icon" src="../../assets/images/WhatsApp_icon.png">
        </a>
        <a href="https://www.instagram.com/cmariogill?igsh=MXA3aDh1dWMzMzFmbQ==" target="_blank" rel="noreferrer">
            <img class="redes-sociales-icon" src="../../assets/images/Instagram_icon.png">
        </a>
    </section >
    <p class="copyrigth">Copyrigth © 2024 - CGill</p>
</footer>
