<section class="border-section">
    <img src="../../assets/images/atomo.png" alt="atomo" class="img-1">
    <h3>💻  LENGUAJES DE PROGRAMACION  💻</h3>
    <section class="scroll">
        <div class="container-icon">
            <div class="pro-div">HTML</div>
                <img class="icon" src="../../assets/images/HTML5_icon.png" alt="icono html">
            </div>
        <div class="container-icon">
            <div class="pro-div">CSS</div>
            <img class="icon" src="../../assets/images/CSS_icon.png" alt="icono css">
        </div>
        <div class="container-icon">
            <div class="pro-div">JavaScript</div>
            <img class="icon" src="../../assets/images/JavaScript_icon.png" alt="icono javascript">
        </div>
        <div class="container-icon">
            <div class="pro-div">Angular</div>
            <img class="icon" src="../../assets/images/Angular_icon.png" alt="icono css">
        </div>
        <div class="centrado">
            <div class="pro-div">GIT</div>
            <img class="icon" src="../../assets/images/Git_Icon.png" alt="icono javascript">
        </div>
    </section>
    <img src="../../assets/images/atomo.png" alt="atomo" class="img-2">
</section>
