<section>
    <div >
        <h3 id="EXPERIENCIA" >💼 EXPERIENCIA 💼</h3>
        <div>Algunos lugares donde he trabajado</div>
    </div>
    <section class="section-exp">
        <div class="container-exp-icon">
            <div class="exp-p">ALPHA LTDA</div>
            <img class="exp-icon" src="../../assets/images/alpha.png" alt="alpha">
        </div>
        <div class="container-exp-icon">
            <div class="exp-p">G4S TECHNOLOGY</div>
            <img class="exp-icon" src="../../assets/images/g4s.png" alt="g4s">
        </div>
    </section>
</section>